/.idea/.gitignore
/.idea/modules.xml
/.idea/moor.iml
/.idea/vcs.xml
/.idea
.vscode/

# game is used as a working directory for a locally running copy of the game
game/

# hacker.sh convenience tracking for changes
.git_heads